@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #000000;
}

/* Fonts Imported */

@font-face {
  font-family: "chakra";
  src: url("/assets/fonts/Chakra_Petch/ChakraPetch-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "chakra";
  src: url("/assets/fonts/Chakra_Petch/ChakraPetch-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
/*


/* REUSABLE COMPONENTS*/

nav {
  @apply font-chakra text-2xl font-semibold backdrop-blur-sm;
}

.contact-box {
  @apply flex w-10/12 items-center justify-center overflow-hidden border-[1px] border-white p-8 sm:p-10 md:p-20;
}

.chop {
  @apply overflow-hidden;
}

.blr {
  @apply -z-30 blur-[300px];
}

/* Glassy Containers */
.glassy {
  @apply bg-white/10 shadow-lg backdrop-blur-md;
}

.blr-img {
  @apply blur-[100px];
}

/* <h> & all text <tags> */

h1 {
  @apply font-chakra text-4xl selection:bg-tp selection:text-black;
}

h2 {
  @apply font-chakra text-3xl selection:bg-tp selection:text-black;
}

h3 {
  @apply font-chakra text-2xl selection:bg-tp selection:text-black;
}

h4 {
  @apply font-chakra text-xl selection:bg-tp selection:text-black;
}

h5 {
  @apply font-chakra text-lg selection:bg-tp selection:text-black;
}

h6 {
  @apply font-chakra text-base selection:bg-tp selection:text-black;
}

p {
  @apply font-chakra selection:bg-tp selection:text-black;
}
