@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: rgb(0, 0, 0, 1);
  --foreground: rgb(0, 0, 0, 1);
}

html {
  background: rgb(0, 0, 0, 1); 
}

/* Fonts Imported */

@font-face {
  font-family: "chakra";
  src: url("/assets/fonts/Chakra_Petch/ChakraPetch-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "chakra";
  src: url("/assets/fonts/Chakra_Petch/ChakraPetch-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "silkscreen";
  src: url("/assets/fonts/Silkscreen/Silkscreen-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "silkscreen";
  src: url("/assets/fonts/Silkscreen/Silkscreen-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Rubik Glitch";
  src: url("/assets/fonts/Rubik_Glitch/RubikGlitch-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}


/* REUSABLE COMPONENTS*/

nav {
  @apply font-silkscreen text-2xl font-semibold backdrop-blur-sm;
}

link {
  @apply font-silkscreen
}

/* Glassy Containers */
.glassy {
  @apply bg-white/10 shadow-lg backdrop-blur-md;
}

/* <h> & all text <tags> */

h1 {
  @apply font-silkscreen text-4xl selection:bg-tp selection:text-black;
}

h2 {
  @apply font-silkscreen text-3xl selection:bg-tp selection:text-black;
}

h3 {
  @apply font-silkscreen text-2xl selection:bg-tp selection:text-black;
}

h4 {
  @apply font-silkscreen text-xl selection:bg-tp selection:text-black;
}

h5 {
  @apply font-silkscreen text-lg selection:bg-tp selection:text-black;
}

h6 {
  @apply font-silkscreen text-base selection:bg-tp selection:text-black;
}

p {
  @apply font-silkscreen selection:bg-tp selection:text-black;
}

.img-shadow {
  box-shadow: 2px 2px 5px rgba(0, 65, 121, 0.5);
}
